
.header {
    background-color: rgb(58, 53, 53);
    color: white;
    height: 70px;
}

.header h1 {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.form-input {
    height: 30px;
}

#searchBtn {
    background-color: royalblue;
    float: right;
    height: 36px;
}

.search {
    float: left;
}