
.header {
    background-color: rgb(58, 53, 53);
    color: white;
    height: 70px;
}

.header h1 {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.form-input {
    height: 30px;
}

#searchBtn {
    background-color: royalblue;
    float: right;
    height: 36px;
}

.search {
    float: left;
}

.bigCities {
    margin-top: 10px;
}

.cities {
    width: 207px;
    height: 30px;
    background-color: white;
    border: 1px solid lightgrey;
}

#weather {
    text-align: center;
}

.column {
    float: right;
    width: 15.333333333%;
    padding: 0 10px;
}

#row {
    margin: 0 -5px;
}

#row:after {
    content: "";
    display: table;
    clear: both;
}

.cardW {
    padding: 16px;
    text-align: center;
    display: block;
    background-color: deepskyblue;
    height: 100px;
}